<div class="col-md-3" id="sideBar">
	Guests: <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuests(numberOfGuests)" min="1"/>

	<div class="row">
		<div id="sideTable">
			<table>
				<tr>
					<td width="70%">Dishname</td>
					<td width="20%">Cost</td>
				</tr>
				<tr ng-repeat="dish in getFullMenu()">
					<td width="70%">{{dish.Title}}</td>
					<td width="20%">{{getDishPrice(dish)}} kr</td>
					<td width="10%"><button class="btn btn-link" ng-click="removeDishFromMenu(dish)"><span class="glyphicon glyphicon-remove-circle"></span></button></td>
				</tr>
				<tr>
					<td width="70%">Pending</td>
					<td width="20%">{{getPendingPrice()}}
				</tr>
				<tr>
					<td width="70%"><b>Total</td>
					<td width="20%">{{(getTotalMenuPrice() + getPendingPrice())}} kr</td>
				</tr>
			</table>
		</div>
	</div>
	<a class="btn btn-primary" ng-href="#/overview">Confirm Dinner</a>
</div>


<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
